<header class="mdui-appbar mdui-appbar-fixed">
  <div id="toolbar" class="mdui-toolbar mdui-color-theme">
    <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#sidebar', swipe: true}"><i class="iconfont icon-menu"></i></button>
    <a href="<%- url_for() %>" class="mdui-typo-headline"><%= config.title %></a>
    <a href="<%- url_for() %>" class="header-subtitle mdui-typo-headline"><%= config.subtitle %></a>
    <div class="mdui-toolbar-spacer"></div>
  </div>
</header>
